 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 @import url('https://fonts.googleapis.com/css?family=Arimo');
 .top-menu {
   background: #1c1c1e;
   box-shadow: 3px 0 7px rgba(0,0,0,.3);
   padding: 20px;
   border-radius: 15px;
 }
 .top-menu:after {
   content: "";
   display: table;
   clear: both;
 }
 .navbar-logo {
     display: inline-block;
 }
 .menu-main {
   list-style: none;
   margin: 0;
   padding: 0;
   float: right;
 }
 .menu-main li {display: inline-block;}
 .menu-main a {
   text-decoration: none;
   display: block;
   position: relative;
   line-height: 61px;
   padding-left: 15px;
   padding-right: 15px;
   font-size: 18px;
   letter-spacing: 2px;
   font-family: 'Arimo', sans-serif;
   font-weight: bold;
   color: white;
   transition:.3s linear;
 }
 a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition:.3s linear;
  }
 
 .menu-main a:hover:before {opacity: 1;}
 @media (max-width: 660px) {
 .menu-main {
   float: none;
   padding-top: 20px;
 }
 .top-menu {
   text-align: center;
   padding: 20px 0 0 0;
 }
 .menu-main a {padding: 0 10px;}
 .menu-main a:before {transform: rotate(45deg) translateX(-6px);}
 }
 @media (max-width: 600px) {
 .menu-main li {display: block;}
 }
 .nlogo {
     max-width: 70px;
 }
 
 .menu-item {
     background-color: #39383d;
     border-radius: 15px;
     margin: 5px;
 }
 
 body {
     background-color: black;
 }

 table.tab{
    border-spacing: 5px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Arimo', sans-serif;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
}
table.tab,table.tab td, table.tab th {
	border: px solid black;
}
table.tab td,table.tab th {
	padding: 10px;
    height: 20px;
    /*background: #39383d;*/
    border-radius: 5px
}
table.tab th {
	background: #347c99; 
	color: #fff;
}
.hdg {
    text-align: center;
    font-weight: 600;
    background: #39383d;
}




/* форма входа */
.loginform{
    height: 320px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.loginform *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.loginform h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.loginform label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.loginform input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.loginform button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



.dsc {
    font-weight: 600;
    background: #5c5b63;
}

.pn {
    font-weight: 600;
    background: #39383d;
}

.cab {
    font-weight: 600;
    background: #5c5b63;
}

.prepod {
    background: #39383d;
}

 
 
 